*{
    margin: 0px;
    }
    .head{
    background-color: crimson;
    text-align: center;
    color: aliceblue;
    }
    .i1{
    height: 280px;
    width: 280px;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.2wyyiJkQj1TTDDOnWHezEQHaE5&pid=Api&P=0");
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 40px;
    }
    .t1{
    color: blue;
    padding-top: 300px;
    }
    .i2{
    height: 280px;
    width: 280px;
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.z0gtEnmjT7jpsUsVgKPqUwHaIV&pid=Api&P=0");
    background-repeat: no-repeat;
float: left;
margin-top: 10px;
margin-left: 50px;
margin-right: 40px;
}
.t2{
color: blue;
padding-top: 300px;
}
.i3{
height: 280px;
width: 280px;
background-image: url("https://tse1.mm.bing.net/th?id=OIP.3UbBOj_c9MZSQcq8kns0GQHaJ4&pid=Api&P=0");
background-repeat: no-repeat;
float: left;
margin-top: 10px;
margin-left: 50px;
margin-right: 40px;
}
.t3{
color: blue;
padding-top: 300px;
}
.i4{
height: 280px;
width: 280px;
background-image: url("https://tse3.mm.bing.net/th?id=OIP.kj3ixQTx-zBF6RGIErYmqgHaE8&pid=Api&P=0");
background-repeat: no-repeat;
float: left;
margin-top: 10px;
margin-left: 50px;
margin-right: 40px;
}
.t4{
color: blue;
padding-top: 300px;
}
.text{
float: left;
padding-top: 50px;
padding-left: 730px;
color: blue;
}
.box{
color: rgb(61, 40, 203);
float:right;
padding-top: 20px;
padding-right: 500px;
}
.bt2{
    float: right;
    padding-top: 20px;
    padding-right: 650px;
    }
    .button{
    color: rgb(228, 238, 230);
    background-color: rgb(25, 0, 255);
    width: 400px;
    }
    .b1{
    width: 700px;
    }
    .total{
    float: right;
    border: 10px;
    margin-top: 10px;
    margin-right: 750px;
    }
    .line{
    float: left;
    margin-top: 20px;
    margin-left: 380px;
    width: 800px;
    border-width: 6px;
    border-top-style: solid;
    }
    .text1{
    float: right;
    margin-top: 10px;
    padding-right: 710px;
    font-size: large;
    color: rgb(6, 160, 24);
    }
